@font-face {
  font-family: "Edenred";
  src: url("EdenredLight-Regular.woff2") format("woff2"),
    url("EdenredLight-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Edenred";
  src: url("Edenred-Regular.woff2") format("woff2"),
    url("Edenred-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Edenred";
  src: url("EdenredBold-Regular.woff2") format("woff2"),
    url("EdenredBold-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
